/*
    Standard colors

    Neon Blue   #8dd9ff     rgba(141, 217, 255, 1.0)
    Neon Orange #f7d093     rgba(247, 208, 147, 1.0)
    Neon Orange 2 #ffdc91
    Neon Green  #94d898     rgba(148, 216, 152, 1.0)
    Neon Green 2 #93e18e
*/

html {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /* this will work for QtWebKit in future */
    -webkit-user-drag: none;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000000;
    background-image: url('../Content/images/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-position-x: center;
    /*background-attachment: fixed;*/
}

img {
    float: left;
}

.logo-wrapper {
    float: none;
    margin: auto;
    width: 960px;
    z-index: 50;
}

.content-wrapper {
    float: none;
    margin: auto;
    margin-top: -50px;
    padding-top: 50px;
    width: 960px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(141, 217, 255, 0.5);
    border-radius: 10px;
}

#body {
    clear: both;
}

footer {
    clear: both;
    font-size: .8em;
    height: 100px;
}


div#biglogo {
    display: block;
    margin: 44px 100px 0px 100px;
    width: 780px;
    height: 156px;
}

div#jackpot {
    display: block;
    margin: 0px 70px 0px 70px;
    width: 820px;
    height: 115px;
}

div#jackpottext {
    display: block;
    float: right;
}

div#jackpotnumber {
    display: block;
    float: left;
}

    div#jackpotnumber img:first-child {
        margin-right: 48px;
    }

div#lastdraw {
    width: 820px;
    height: 60px;
    margin: 0px 70px 0px 70px;
}

div.lastdrawitem {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 8px 22px 8px 6px;
    border: 3px solid #8dd9ff;
    border-radius: 8px;
}

    div.lastdrawitem:nth-child(7) {
        margin-left: 18px;
        margin-right: 15px;
    }

div.button {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

    div.button.top {
        border-width: 1px 1px 1px 1px;
        border-radius: 3px 3px 0px 0px;
        margin-bottom: -2px;
    }

    div.button.middle {
        border-width: 0px 1px 1px 1px;
        border-radius: 0px;
        margin-top: -2px;
        margin-bottom: -2px;
    }

    div.button.bottom {
        margin-top: -2px;
        border-width: 0px 1px 1px 1px;
        border-radius: 0px 0px 3px 3px;
    }

    div.button.disabled {
        opacity: 0.5;
    }


div.buttonblue {
    background-color: rgba(141, 217, 255, 0.2);
    border-color: #8dd9ff;
}

    div.buttonblue:hover {
        background-color: rgba(141, 217, 255, 0.25);
    }

div.buttonorange {
    background-color: rgba(247, 208, 147, 0.2);
    border-color: #f7d093;
}

    div.buttonorange:hover {
        background-color: rgba(247, 208, 147, 0.25);
    }

    div.buttonorange.toggled {
        cursor: default;
        background-color: rgba(247, 208, 147, 1.0);
    }

    div.buttonorange:not(.toggled):hover {
        background-color: rgba(247, 208, 147, 0.25);
    }

div.buttongreen {
    background-color: rgba(148, 216, 152, 0.2);
    border-color: #94d898;
}

    div.buttongreen:hover {
        background-color: rgba(148, 216, 152, 0.25);
    }

    div.buttongreen.toggled {
        cursor: default;
        background-color: rgba(148, 216, 152, 1.0);
    }

    div.buttongreen:not(.toggled):hover {
        background-color: rgba(148, 216, 152, 0.25);
    }

div#checkbutton {
    float: right;
    margin: 16px 0px 0px 0px;
}

div#ticketarea {
    width: 820px;
    height: 382px;
    margin: 0px 70px 0px 70px;
}

div#ticketsidebar {
    float: left;
    display: inline-block;
    width: 102px;
    height: 355px;
    margin: 0px;
    /*background: rgba(148, 216, 152, 0.5);*/
}

div#ticket {
    float: left;
    display: inline-block;
    width: 580px;
    height: 355px;
    margin: 0px;
}

div#tabs {
    float: left;
    margin-top: 10px;
}

div.tab {
    cursor: pointer;
    display: inline-block;
    margin-right: -4px;
    padding-top: 3px;
    padding-bottom: 2px;
    height: 20px;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-radius: 3px 3px 0px 0px;
}

div.tabblue {
    background-color: rgba(141, 217, 255, 0.2);
    border-color: #8dd9ff;
}

    div.tabblue.toggled {
        cursor: default;
        background-color: rgba(141, 217, 255, 1.0);
    }


    div.tabblue:not(.toggled):hover {
        background-color: rgba(141, 217, 255, 0.25);
    }

div.taborange {
    background-color: rgba(247, 208, 147, 0.2);
    border-color: #f7d093;
}

    div.taborange.toggled {
        cursor: default;
        background-color: rgba(247, 208, 147, 1.0);
    }

    div.taborange:not(.toggled):hover {
        background-color: rgba(247, 208, 147, 0.25);
    }

div.tabgreen {
    background-color: rgba(148, 216, 152, 0.2);
    border-color: #94d898;
}

    div.tabgreen.toggled {
        cursor: default;
        background-color: rgba(148, 216, 152, 1.0);
    }

    div.tabgreen:not(.toggled):hover {
        background-color: rgba(148, 216, 152, 0.25);
    }

div.borderblue {
    border-color: #8dd9ff;
}

div.borderorange {
    border-color: #f7d093;
}

div.bordergreen {
    border-color: #94d898;
}

div#ticketcontent {
    float: left;
    display: inline-block;
    width: 456px;
    height: 271px;
    margin-top: -5px;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
}

div#ticketjoker {
    float: left;
    display: inline-block;
    width: 38px;
    height: 271px;
    margin-top: -5px;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-left-width: 0px;
}

div.ticketnumber {
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 3px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}


div.numberblue {
    border-color: #8dd9ff;
}

    div.numberblue:hover {
        background-color: rgba(141, 217, 255, 0.25);
    }

    div.numberblue.toggled {
        background-color: rgba(141, 217, 255, 1.00);
    }

div.numberorange {
    border-color: #f7d093;
}

    div.numberorange:hover {
        background-color: rgba(247, 208, 147, 0.25);
    }

    div.numberorange.toggled {
        background-color: rgba(247, 208, 147, 1.0);
    }

div.numbergreen {
    border-color: #94d898;
}

    div.numbergreen:hover {
        background-color: rgba(148, 216, 152, 0.25);
    }

    div.numbergreen.toggled {
        background-color: rgba(148, 216, 152, 1.0);
    }

div#ticketfooter {
    display: inline-block;
    width: 566px;
    height: 20px;
    padding: 5px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 3px 3px;
}

div.bgblue {
    background-color: #8dd9ff;
}

div.bgorange {
    background-color: #f7d093;
}

div.bggreen {
    background-color: #94d898;
}

div#ticketfooterlist {
    margin-top: 4px;
    margin-left: 5px;
}

img#btcsign {
    float: right;
    margin-top: -7px;
    margin-right: 16px;
}

div#ticketfooterbtc {
    float: right;
    margin-right: 5px;
}


div.ticketsticksleft {
    float: left;
    display: inline-block;
    width: 18px;
}

    div.ticketsticksleft div {
        margin-top: 63px;
        width: 18px;
        height: 1px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        opacity: 0.4;
    }

        div.ticketsticksleft div:first-child {
            margin-top: 66px;
        }


div.ticketsticksright {
    float: left;
    display: inline-block;
    width: 18px;
    height: 355px;
}

    div.ticketsticksright div {
        margin-top: 55px;
        width: 18px;
        height: 1px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        opacity: 0.7;
    }

        div.ticketsticksright div:first-child {
            margin-top: 253px;
        }

div#ticketright {
    display: inline-block;
    width: 102px;
    height: 355px;
    margin: 15px 0px 0px 0px;
    /*background: rgba(247, 208, 147, 0.5);*/
}

div#ticketrightbuttons {
    margin-top: 0px;
}

div#ticketrightbuttons div {
    margin-top: 25px;
}

div#tickettype {
    height: 200px;
    opacity: 0;
}

    div#tickettype img {
        margin-bottom: 5px;
    }

div#summary {
    float: left;
    width: 210px;
    margin-top: 7px;
}

    div#summary img {
        margin-bottom: 8px;
    }


div.summarynumber {
    float: right;
    display: inline-block;
    width: 60px;
    height: 30px;
    padding-top: 5px;
}

    div.summarynumber.editable {
        cursor: ew-resize;
    }

div.summarynumber#draws {
    vertical-align: middle;
    width: auto;
}

div#drawsIncrease,
div#drawsDecrease {
    float: right;
    display: inline-block;
    width: 8px;
    height: 35px;
    margin-left: 8px;
    margin-right: 8px;
}


div#letsplay {
    margin: 0px 46px 0px 46px;
    width: 300px;
    height: 75px;
    border-width: 2px;
}

    div#letsplay img {
        margin: 10px;
    }

div#clock {
    float: right;
    width: 210px;
    margin-top: 8px;
}

    div#clock span img {
        float: right;
        margin-bottom: 4px;
    }

div#clocknumber {
    float: right;
    display: inline-block;
    height: 30px;
    padding-top: 5px;
    margin-right: 35px;
}

div.langbutton {
    float: left;
    margin: 0px;
    width: 156px;
    height: 20px;
    border-width: 2px 0px 2px 0px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    color: #8dd9ff;
}

    div.langbutton.toggled {
        background-color: rgba(141, 217, 255, 1.00);
        color: #000000;
    }

div.langside {
    float: left;
    margin: 0px;
    width: 90px;
    height: 20px;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    background-color: rgba(141, 217, 255, 0.2);
    border-color: #8dd9ff;
}

div#infobox {
    margin: 30px 70px 30px 70px;
}

div.typebutton {
    height: 29px;
    padding-top: 3px;
}

div#languages {
    height: 32px;
}

div.sidebarticket {
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 2px;
    width: 100px;
    height: 57px;
    opacity: 0.4;
}
    div.ticketsticksleft div.selectedticket,
    div.sidebarticket.selectedticket {
        opacity: 0.8;
    }

    div.ticketsticksleft div.emptyticket,
    div.sidebarticket.emptyticket {
        opacity: 0.2;
    }

    div.ticketsticksleft div.invisibleticket,
    div.sidebarticket.invisibleticket {
        cursor: default;
        opacity: 0.0;
    }

    div.sidebarticket:first-child {
        margin-top: 37px;
    }

    div.sidebarticket:not(.invisibleticket):hover {
        opacity: 0.8;
    }

    div.sidebarticket span {
        float: left;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 44px;
        display: block;
        width: 100px;
        margin-top: -60px;
        text-align: center;
        color: black;
    }

    div.sidebarticket span.blue {
        text-shadow: -1px -1px 0 #8dd9ff, 1px -1px 0 #8dd9ff, -1px 1px 0 #8dd9ff, 1px 1px 0 #8dd9ff;
    }

    div.sidebarticket span.orange {
        text-shadow: -1px -1px 0 #f7d093, 1px -1px 0 #f7d093, -1px 1px 0 #f7d093, 1px 1px 0 #f7d093;
    }

    div.sidebarticket span.green {
        text-shadow: -1px -1px 0 #94d898, 1px -1px 0 #94d898, -1px 1px 0 #94d898, 1px 1px 0 #94d898;
    }

div.sidebarpager {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 8px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
}

    div.sidebarpager:hover {
        opacity: 1.0;
    }

div#totalprice {
    float: right;
}

    div#totalprice img {
        margin: 4px 0px 0px 0px;
    }

div.letsplaytotal {
    float: left;
    margin: 0px;
    width: 235px;
    height: 26px;
}

div#letsplay img#letsplaytotal {
    margin: 0px 10px 0px 55px;
}

div#letsplay img#letsplaybtc {
    margin: -3px 0px 0px 0px;
}

div#lottery_mini {
    float: right;
    display: inline;
    margin-top: 9px;
    margin-right: 32px;
    opacity: 0.5;
}
