@model _555Lottery.DataModel.Draw
@{
    ViewBag.Title = "Details of draw";
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <h2>Details of draw @Model.DrawCode</h2>
</div>


