<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="smtp.555lottery.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="noreply@555lottery.com"/>
    <add key="SMTPPassword" value="nxBoiCBo9tKj"/>
    <add key="SMTPEnableSSL" value="false"/>
    <add key="SMTPTimeout" value="10000"/>

    <add key="SenderAddress" value="noreply@555lottery.com"/>
    <add key="SenderName" value="555 Lottery"/>
    <add key="ReplyToAddress" value="info@555lottery.com"/>
    <add key="ReplyToName" value="555 Lottery"/>
    <add key="BccAddress" value="noreply@555lottery.com"/>
    
    <add key="AdminAddresses" value="andras.fuchs@gmail.com,sz.szabados@gmail.com"/>

    <add key="StorageFile" value=".\App_Data\emails\{TimeUtc}__{Subject}.html"/>
  </appSettings>
</configuration>
